In [6]:
import pandas as pd
from ast import literal_eval
import operator
import numpy as np

In [7]:
clusters = pd.read_csv("../results/all_runs.csv")

In [15]:
clusters[clusters['Word_Type'] == "biden" ]

,Unnamed: 0,Cluster,Word_Type,Weights,SqDist,numCluster,dimensions,seed
490,490,9,biden,0.003549,1561.15,20,100,22
764,764,17,biden,0.003549,4228.67,50,100,142
2838,2838,86,biden,0.003549,9349.67,100,100,142
3019,3019,7,biden,0.003549,9087.99,100,100,997
4836,4836,5,biden,0.003549,1942.65,20,300,142
5217,5217,4,biden,0.003549,2031.25,20,300,22
5595,5595,24,biden,0.003549,5542.08,50,300,142
5907,5907,8,biden,0.003549,5408.52,50,300,997
6607,6607,35,biden,0.003549,5526.39,50,300,22
6804,6804,7,biden,0.003549,11999.56,100,300,142
7971,7971,42,biden,0.003549,12176.68,100,300,997
9046,9046,67,biden,0.003549,11818.44,100,300,22
9418,9418,11,biden,0.003549,2209.08,20,500,142
9522,9522,2,biden,0.003549,2180.17,20,500,997
9776,9776,9,biden,0.003549,2081.86,20,500,22
9881,9881,0,biden,0.003549,5728.66,50,500,142
10631,10631,31,biden,0.003549,5879.50,50,500,997
11154,11154,40,biden,0.003549,5778.61,50,500,22
11505,11505,32,biden,0.003549,13515.22,100,500,142
12442,12442,47,biden,0.003549,13375.83,100,500,997
12960,12960,16,biden,0.003549,12879.55,100,500,22
13800,13800,15,biden,0.003549,2206.55,20,768,142
14022,14022,18,biden,0.003549,2187.67,20,768,997
14184,14184,15,biden,0.003549,2264.36,20,768,22
14515,14515,36,biden,0.003549,6463.45,50,768,142
14717,14717,9,biden,0.003549,6480.89,50,768,997
15470,15470,47,biden,0.003549,6205.66,50,768,22
16049,16049,64,biden,0.003549,13445.55,100,768,142
16637,16637,41,biden,0.003549,14338.29,100,768,997
17446,17446,42,biden,0.003549,13969.64,100,768,22

In [68]:
df = pd.read_csv("../distribution.csv")

In [100]:
# so some simple tests first: do the note and tweet share their highest-probability cluster? 

def Top(df_local, n):
    dict_local = literal_eval(df_local)
    temp = dict(sorted(dict_local.items(), key = operator.itemgetter(1), reverse = True)[:n])
    return list(temp.keys())

df["Note_Top5"] = df.apply(lambda x: Top(x.probs_note,1), axis=1)
df["Tweet_Top5"] = df.apply(lambda x: Top(x.probs_tweet,1), axis=1)

In [101]:
df["MaxClusterMatch"] = np.where((df["Note_Top5"] == df["Tweet_Top5"]  ), 1, 0)

In [102]:
df.MaxClusterMatch.value_counts()

0    13631
1     2659
Name: MaxClusterMatch, dtype: int64

In [ ]:
df.head()

In [ ]:
df["Note_Top5"][0]

,Unnamed: 0,noteTextList,noteId,tweetId,probs_note,doc_note,tweetTextList,probs_tweet,doc_tweet,_merge,Note_Top5,Tweet_Top5,MaxClusterMatch
0,0,"['blm', 'organization', 'terrorist', 'organiza...",1355716996760023041,1355643797280083973,"{0: 0.02084081389327652, 1: 0.0015218443466024...",notes,"['black', 'lives', 'matter', 'racist', 'domest...","{0: 0.016164645535598585, 1: 0.007174113275032...",tweets,both,[25],[23],0
1,1,"['post', 'claims', 'blm', 'organization', 'des...",1355989178622816256,1355529775197130753,"{0: 0.029674508244772912, 1: 0.002680593684137...",notes,"['remind', 'u', 'blm', 'disqualify', 'rt', 'mo...","{0: 0.04667681196608772, 1: 0.0275759361046265...",tweets,both,[7],[7],1
2,2,"['claim', 'false', 'carter', 'ford', 'nixon', ...",1356735932087611399,1352754599590035459,"{0: 0.034174218706127565, 1: 0.008922617251264...",notes,"['donald', 'trump', 'first', 'president', 'mod...","{0: 0.03676675723090759, 1: 0.0086343467403813...",tweets,both,[5],[5],1
3,3,"['neither', 'blm', 'antifa', 'involved', 'atta...",1356747779113177095,1356441140959064064,"{0: 0.050965135551209274, 1: 0.025409366302693...",notes,"['go', 'get', 'antifa', 'bastards', 'random', ...","{0: 0.03140654550016118, 1: 0.0013537836167641...",tweets,both,[25],[9],0
4,4,"['lost', 'wind', 'power', 'expected', 'fractio...",1362165022634504193,1361810447431827459,"{0: 0.054795311455064694, 1: 0.000563531033662...",notes,"['raises', 'obvious', 'question', 'ever', 'rel...","{0: 0.03069337483027981, 1: 0.0012634087602164...",tweets,both,[28],[28],1

In [96]:
df["Note_Top5"][0]

[25, 28, 26, 9, 7]